<html lang="en">

<head>
  <title>Chat screen</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/stylefriend.css">
  <link rel="stylesheet" href="../public/css/main.css">
  
  <!-- Font Awesome File -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>

<body onload="check()">

  <div class="container app" id="left_list">
    <div class="row app-one">

      <div class="col-sm-4 side" >
        <div class="side-one">
          <!-- Heading -->
          <div class="row heading">
            <div class="col-sm-3 col-xs-3 heading-avatar">
              <div class="heading-avatar-icon">
                <img src="../public/img/man-2-512.png">
              </div>
            </div>
            <div class="col-sm-1 col-xs-1  heading-dot  pull-right" onclick="openlist()">
              <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true" ></i>
            </div>
            <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
              <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
            </div>
          </div>
          <!-- Heading End -->

          <!-- SearchBox -->
          <div class="row searchBox">
            <div class="col-sm-12 searchBox-inner">
              <div class="form-group has-feedback">
                <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>

          <!-- Search Box End -->
          <!-- sideBar -->



 <!--friend class added-->

 <div id="main-list" >
  <button class="close-cover" onclick="closelist()"><img src="../public/img/close.png"></button><br>
  <div class="list-item"><button class="list-but" onclick="addfriend()">Add Friend</button></div>
  <div class="list-item"><button class="list-but" onclick="openblock()">Delete</button></div>
  <div class="list-item"><a href="/logout"><button class="list-but">Logout</button></a></div>
</div>    

 <div id="friend" style="display: none;">
  <button class="close-cover" onclick="closefriend()"><img src="../public/img/close.png"></button><br>
  <h3 class="head-friend">Add Friend</h3>
  <form action="addname" method="POST">
  <input id="_name" type="text" name="_name" placeholder="Enter a name" class="friend-in">
  <input id="_no" type="text" name="_no" placeholder="Enter a phone number" class="friend-in">
  <button id="_addfriend" class="btn btn-primary" style="width:70%;margin-bottom:5px;margin-top:10px; ">Send Request</button>
</form>
</div>

<div id="block" style="display: none;">
  <button class="close-cover" onclick="closeblock()"><img src="../public/img/close.png"></button><br>
  <h3 class="head-friend">Delete</h3>
  
  <input id="_bname" type="text" name="_name" placeholder="Enter a name" class="friend-in">
  <input id="_bno" type="text" name="_no" placeholder="Enter a phone number" class="friend-in">
  <button id="_delete" class="btn btn-primary" style="width:70%;margin-bottom:5px;margin-top:10px; ">Delete</button>

</div>


<!--end of friend class-->






          <div class="row sideBar">
            <% for(var i=0;i<friend.friends.length;++i){%>
             
            <div onclick="_click(this.id)" id="<%= friend.friends[i] %>" class="row sideBar-body">
              
              <div class="col-sm-3 col-xs-3 sideBar-avatar">
                <div class="avatar-icon">
                  <img src="../public/img/man-2-512.png">
                </div>
              </div>
              <div class="col-sm-9 col-xs-9 sideBar-main">
                <div class="row">
                  <div class="col-sm-8 col-xs-8 sideBar-name">
                    <span class="name-meta"><%= friend.friends[i] %>
                  </span>
                  </div>
                  <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                    <span class="time-meta pull-right">18:18
                  </span>
                  </div>
                </div>
              </div>
            </div>
            
            <% } %>
          </div>
          <!-- Sidebar End -->
        </div>
        <div class="side-two">

          <!-- Heading -->
          <div class="row newMessage-heading">
            <div class="row newMessage-main">
              <div class="col-sm-2 col-xs-2 newMessage-back">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </div>
              <div class="col-sm-10 col-xs-10 newMessage-title">
                New Chat
              </div>
            </div>
          </div>
          <!-- Heading End -->

          <!-- ComposeBox -->
          <div class="row composeBox">
            <div class="col-sm-12 composeBox-inner">
              <div class="form-group has-feedback">
                <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </div>
          </div>
          <!-- ComposeBox End -->

          <!-- sideBar -->
         
        </div>
        <!-- Sidebar End -->
      </div>


      <!-- New Message Sidebar End -->

      <!-- Conversation Start -->
      <div class="col-sm-8 conversation">
        <!-- Heading -->
        <div class="row heading">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
            <div class="heading-avatar-icon">
              <img src="../public/img/man-2-512.png">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <a class="heading-name-meta"><%=chat_with %>
            </a>
           <%if(isonline==1){%>
            <span>Online</span>
            <%}else{%>
              <span>Offline</span>
              <%}%>
          </div>
          <div class="col-sm-1 col-xs-1  heading-dot pull-right">
            <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
          </div>
        </div>
        <!-- Heading End -->

        <!-- Message Box -->
        <div class="row message" id="conversation">
        
          <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
              Show Previous Message!
              </a>
            </div>
          </div>
        
        


<input style="visibility: hidden;width: 0px;height: 0px;" value="<%= myname %>" id="myself">

           
<% message.sort(function(a,b){ return new Date(b.date) - new Date(a.date);}); %>       

          <% for(var i=0;i<message.length;++i){ %>
            <% if(myname==message[i].r_by){ %>
          <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
                
                    <div class="receiver">
                      <div class="message-text">
                      <%= message[i].text %>
                      </div>
                      <span class="message-time pull-right">
                        Sun
                      </span>
                    </div>
            </div>
          </div><br>
                    <% }else { %>
                      <div class="row message-body">
                        <div class="col-sm-12 message-main-sender">
                          <div class="sender">
                            <div class="message-text">
                              <%= message[i].text %>
                            </div>
                            <span class="message-time pull-right">
                              Sun
                            </span>
                          </div>
                        </div>
                      </div>
                      <br>
                      <% } %>
            
     
          <% } %>
 

          






    
        </div>
        <!-- Message Box End -->

        <!-- Reply Box -->
      
        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <input class="form-control" rows="1" id="msgs" name="msg"></input>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <input id="send_to" style="height:0px;width:0px;display:none" value="<%= chat_with %>">
            
         <button onclick="m()" style="padding: 0px;background-color: rgb(245, 241, 238);border: 0px;">    <i class="fa fa-send fa-2x" aria-hidden="true"></i></button>
          </div>
        </div>
      
        <!-- Reply Box End -->
      </div>
      <!-- Conversation End -->
    </div>
    <!-- App One End -->
  </div>




  <!-- new code -->
  


<input style="visibility: hidden;width: 0px;height: 0px;" value="<%= myname %>" id="myself">

  <div class="col-sm-4 side" id="left_part">
    <div class="side-one">
      <!-- Heading -->
      <div class="row heading">
        <div class="col-sm-3 col-xs-3 heading-avatar">
          <div class="heading-avatar-icon">
            <img src="../public/img/man-2-512.png">
          </div>
        </div>
        <div class="col-sm-1 col-xs-1  heading-dot  pull-right" onclick="openlist()">
          <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true" ></i>
        </div>
        <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
          <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
        </div>
      </div>
      <!-- Heading End -->

      <!-- SearchBox -->
      <div class="row searchBox">
        <div class="col-sm-12 searchBox-inner">
          <div class="form-group has-feedback">
            <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
      </div>

      <!-- Search Box End -->
      <!-- sideBar -->



<!--friend class added-->

<div id="main-list">
<button class="close-cover" onclick="closelist()"><img src="../public/img/close.png"></button><br>
<div class="list-item"><button class="list-but" onclick="addfriend()">Add Friend</button></div>
<div class="list-item"><button class="list-but" onclick="openblock()">Delete</button></div>
<div class="list-item"><a href="/logout"><button class="list-but">Logout</button></a></div>
</div>    

<div id="friend" style="display: none;">
<button class="close-cover" onclick="closefriend()"><img src="../public/img/close.png"></button><br>
<h1 class="head-friend">Add Friend</h1>
<form action="addname" method="POST">
<input id="_name" type="text" name="_name" placeholder="Enter a name" class="friend-in">
<input id="_no" type="text" name="_no" placeholder="Enter a phone number" class="friend-in">
<button id="_addfriend" class="btn btn-primary" style="width:70%;margin-bottom:5px;margin-top:10px; ">Send Request</button>
</form>
</div>

<div id="block" style="display: none;">
<button class="close-cover" onclick="closeblock()"><img src="../public/img/close.png"></button><br>
<h1 class="head-friend">Delete </h1>

<input id="_bname" type="text" name="_name" placeholder="Enter a name" class="friend-in">
<input id="_bno" type="text" name="_no" placeholder="Enter a phone number" class="friend-in">
<button id="_delete2" class="btn btn-primary" style="width:70%;margin-bottom:5px;margin-top:10px; ">Delete</button>

</div>


<!--end of friend class-->






      <div class="row sideBar" >
        <% for(var i=0;i<friend.friends.length;++i){%>
         
        <div onclick="_click(this.id)" id="<%= friend.friends[i] %>" class="row sideBar-body">
          
          <div class="col-sm-3 col-xs-3 sideBar-avatar">
            <div class="avatar-icon">
              <img src="../public/img/man-2-512.png">
            </div>
          </div>
          <div class="col-sm-9 col-xs-9 sideBar-main">
            <div class="row">
              <div class="col-sm-8 col-xs-8 sideBar-name">
                <span class="name-meta"><%= friend.friends[i] %>
              </span>
              </div>
              <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                <span class="time-meta pull-right">18:18
              </span>
              </div>
            </div>
          </div>
        </div>
        
        <% } %>
      </div>
      <!-- Sidebar End -->
    </div>
    <div class="side-two">

      <!-- Heading -->
      <div class="row newMessage-heading">
        <div class="row newMessage-main">
          <div class="col-sm-2 col-xs-2 newMessage-back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </div>
          <div class="col-sm-10 col-xs-10 newMessage-title">
            New Chat
          </div>
        </div>
      </div>
      <!-- Heading End -->

      <!-- ComposeBox -->
      <div class="row composeBox">
        <div class="col-sm-12 composeBox-inner">
          <div class="form-group has-feedback">
            <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </div>
      </div>
      <!-- ComposeBox End -->

      <!-- sideBar -->
     
    </div>
    <!-- Sidebar End -->
  </div>




  <!-- new code 2 -->
                    <div class="container app" id="fullchat">
                      <div class="row app-one">


                        <!-- New Message Sidebar End -->

                        <!-- Conversation Start -->
                        <div class="col-sm-12 conversation">
                          <!-- Heading -->
                          <div class="row heading">
                            <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                              <div class="heading-avatar-icon">
                                <img src="../public/img/man-2-512.png">
                              </div>
                            </div>
                            <div class="col-sm-8 col-xs-7 heading-name">
                              <a class="heading-name-meta"><%=chat_with %>
                              </a>
                              <%if(isonline==1){%>
                                <span>Online</span>
                                <%}else{%>
                                  <span>Offline</span>
                                  <%}%>
                            </div>
                            <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                              <i class="fa fa-arrow-left fa-2x  pull-right" aria-hidden="true" onclick="back()"></i>
                            </div>
                          </div>
                          <!-- Heading End -->

                          <!-- Message Box -->
                          <div class="row message" id="conversation">

                            <div class="row message-previous">
                              <div class="col-sm-12 previous">
                                <a onclick="previous(this)" id="ankitjain28" name="20">
                                Show Previous Message!
                                </a>
                              </div>
                            </div>


                            <% message.sort(function(a,b){ return new Date(b.date) - new Date(a.date);}); %>       

                            <% for(var i=0;i<message.length;++i){ %>
                              <% if(myname==message[i].r_by){ %>
                            <div class="row message-body">
                              <div class="col-sm-12 message-main-receiver">
                                  
                                      <div class="receiver">
                                        <div class="message-text">
                                        <%= message[i].text %>
                                        </div>
                                        <span class="message-time pull-right">
                                          Sun
                                        </span>
                                      </div>
                              </div>
                            </div><br>
                                      <% }else { %>
                                        <div class="row message-body">
                                          <div class="col-sm-12 message-main-sender">
                                            <div class="sender">
                                              <div class="message-text">
                                                <%= message[i].text %>
                                              </div>
                                              <span class="message-time pull-right">
                                                Sun
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                        <br>
                                        <% } %>
                              
                       
                            <% } %>
                   
                  
                            
                  
                  
                  
                  
                  
                  
                      
                  
                          </div>
                          <!-- Message Box End -->

                          <!-- Reply Box -->
                          <div class="row reply">
                            <div class="col-sm-1 col-xs-1 reply-emojis">
                              <i class="fa fa-smile-o fa-2x"></i>
                            </div>
                            <div class="col-sm-9 col-xs-9 reply-main">
                              <input class="form-control" rows="1" id="msgs" name="msg"></input>
                            </div>
                            <div class="col-sm-1 col-xs-1 reply-recording">
                              <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-1 col-xs-1 reply-send">
                              <input id="send_to" style="height:0px;width:0px;display:none" value="<%= chat_with %>">
                              
                           <button onclick="m()" style="padding: 0px;background-color: rgb(245, 241, 238);border: 0px;">    <i class="fa fa-send fa-2x" aria-hidden="true"></i></button>
                            </div>
                          </div>
                          <!-- Reply Box End -->
                        </div>
                        <!-- Conversation End -->
                      </div>
                  
                    </div>

             
</body>


<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>
<script>
  function _click(a){
    var c=window.location.href;
    var d=c.split("/chat/")[0]
      window.location.assign(d+"/chat/"+a);
  }
  function addfriend(){
    var x=document.getElementById("friend");
    x.style.display="block";
    var y=document.getElementById("block");
    if(y.style.display==="block"){
      y.style.display="none";
    }
  }
  function closefriend(){
    var x=document.getElementById("friend");
    x.style.display="none";
  }
  function openlist(){
    var x=document.getElementById("main-list");
    x.style.display="block";
  }
  function closelist(){
    var x=document.getElementById("main-list");
    x.style.display="none";
    var y=document.getElementById("block");
    var z=document.getElementById("friend");
    if(y.style.display==="block"){
      y.style.display="none";
    }
    if(z.style.display==="block"){
      z.style.display="none";
    }
  }
  function openblock(){
    var x=document.getElementById("block");
    x.style.display="block";
    var y=document.getElementById("friend");
    if(y.style.display==="block"){
      y.style.display="none";
    }
  }
  function closeblock(){
    var x=document.getElementById("block");
    x.style.display="none"; 
  }
  function check(){
    if($(window).width()<700){
      deleteChild(document.getElementById("left_list"))   //left-list->comp fullchat,left-part->mobile
        document.getElementById("left_list").remove();    //fullchat->
      var x=window.location.href;
      var z=x.split("chat/")[1];
      if(z!=="bot"){
        document.getElementById("fullchat").style.display="block";
         document.getElementById("left_part").style.display="none";
      }
      else{
        deleteChild(document.getElementById("fullchat"))   
        document.getElementById("fullchat").remove(); 
      }
    }
    else{
      deleteChild(document.getElementById("fullchat"))

        document.getElementById("fullchat").remove();
        deleteChild(document.getElementById("left_part"))

        document.getElementById("left_part").remove();
    }
    var w=window.location.href;
    var d=w.split("/chat/")[1]
    
        if(d=="bot"){}
    else{
        var c=document.getElementById("conversation")
        c.scrollTop = c.scrollHeight;}
                                   
                                 
  }
  function back(){
    var c=window.location.href;
    var d=c.split("/chat/")[0]
      window.location.assign(d+"/chat/"+"bot");
  }
  function deleteChild(x) { 
        var e = x; 
        
        //e.firstElementChild can be used. 
        var child = e.lastElementChild;  
        while (child) { 
            e.removeChild(child); 
            child = e.lastElementChild; 
        } 
    } 

     $('#_delete').on('click', function() { 
     
          		   
               $.ajax({ 			  url: 'delete', 			  method: 'DELETE', data:{_bname:$('#_bname')[0].value}			}) 	
                     .done(function(data) { 
                     window.location.reload(true); 
                      console.log(data)
                       });        
      });
      $('#_delete2').on('click', function() { 
     
          		   
     $.ajax({ 			  url: 'delete', 			  method: 'DELETE', data:{_bname:$('#_bname')[0].value}			}) 	
           .done(function(data) { 
           window.location.reload(true); 
            console.log(data)
             });        
});
</script>

</html>


